.red{border: 2px red solid;}
body {margin: 0; padding: 0;}

/*----------Cabecalho---------------*/
#cabecalho{
    z-index: 1000;
    top: 0;
    background: #b40101;
    width: 100%;
    position: fixed;
    transition: height 0.6s;
    display: block; 
    color: #b40101;
    padding: 10px;
}

#logotipo{
    margin-left: 10px;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
}

/*----------Corpo---------------*/
#corpo{
    padding:10px auto;
    margin:100px auto;
    background: #fff;
}
/*----------Footer---------------*/

footer i{
    display: inline;
    padding: 5px 10px;
    font-size: 30px;
    color:#fff;  
}
footer{
    padding-top:10px;
    position: fixed;
    z-index: 540;
    bottom: 0;
    background-color: #747474;
    color:rgb(255, 255, 255);
}

footer p{
    font-size: 14px;
    display: table-cell;
}

#linkRodape{
    color:#ffc823;  
    transition: 0.3s all;
}

#linkRodape:hover{
    
    font-size: 16px;
}

/*-----------Animação---------*/

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

.erro{
    color: #ff0000;
}

.invisivel{
    display: none;
    transition: 0.5s;
}

.visivel{
    display: block;
    transition: 0.5s;
}